<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">

  <title>Painel SRI</title>
  <meta name="description" content="Painel de Atividades Conduzidas na SRI">
  <meta name="author" content="SRI - Superintendência de Relações Internacionais">

  <link rel="stylesheet" href="template/css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <script src="js/scripts.js"></script>
  <header>
  	<H1>Painel de Atividades</h1>
  </header>
  DATA
  <footer>
  	<p>Superintendência de Relações Internacionais</p>
  </footer>
</body>
</html>